<h1>Rozliczenie mieszkania</h1>
<ul>
	<li>
		<%= link_to "Osoby", clients_path %>
	</li>
	<li>
		<%= link_to "Odczyty", readings_path %>
	</li>
	<li>
		<%= link_to "Stawki", rates_path %>
	</li>
</ul>
